<div class="container-fuild input-container"> 

    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
     
        <div class="row textarea-row">
            <textarea
                ng-model="source_text"
                ng-minlength="1"
                class="source-input" 
                placeholder="Enter text..."></textarea>
        </div>

        <div class="row select-row">
            <select 
                ng-model="target_lang" 
                class="language-dropdown">
                <option value="">---Select Language---</option>
                <option ng-repeat="pair in getLanguage() | orderBy: pair[0] " value="{{ pair[1] }}">{{ pair[0] }}</option>
            </select>
        </div>

        <div class="row submit-row">
            <button 
                class=""
                ng-click="translate()">
                <img class="wait" ng-show="isWaiting()" src="static/images/ellipsis.svg"/>
                <span ng-show="!isWaiting()">Submit</span>
            </button>
        </div>

        <div class="row message-row">
            <div 
                ng-show="hasWarning()"
                class="alert alert-warning" 
                role="alert">{{ status.translate.warning }}</div>
            <div
                ng-show="hasError()" 
                class="alert alert-danger" 
                role="alert">{{ status.translate.error }}</div>
        </div>
    </div>
</div>