option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: translator_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "translator_project.settings"
    "PYTHONPATH": "./src"    
    "ALLOWED_HOSTS": "translator.us-west-2.elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []


container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ./src/manage.py migrate --noinput"
    leader_only: true
