option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: translator_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "translator_project.settings"
    "PYTHONPATH": "./src"    
    "ALLOWED_HOSTS": "translator.us-west-2.elasticbeanstalk.com"
    "db_user": "admin"
    "db_pwd": "translator!987"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []


container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"